.pro_body{
    background-color: #f3f2ef;
}

.profile_body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60rem;
    margin: auto;
    background-color: white;
    padding: 0 2rem 2rem 2rem;
}

.pro_fir_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 10rem;
}

.back_photo{
    height: 15rem;
    width: 60rem;
    overflow: hidden;
}

.bg_photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user_photo{
    border-radius: 50%;
    position: relative;
    width: 15rem;
    height: 15rem;
    top: -7rem;
    transform: translate(-70%);
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
.userdata p span{
    font-weight:bold;
    font-family: 'Cinzel', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@1,200&display=swap');
.userdata p{
    font-size: 1.5em;
    padding: 0.3em;
    font-family: 'Spectral', serif;
}

.userdata{
    height: 7rem;
}

.past_donations{
    display: flex;
    align-items:flex-start;
    justify-content: space-evenly;
    width: 50rem;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1.5rem 1.5rem;
    margin-top: 25px;
    border-radius: 50px;
    box-shadow: 3px 5px 5px #3b5dc499;
    flex-direction: column;
    border: 2px solid #22476752;
}

.eve_heading{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.eve_desc{
    font-size: 15px;
    font-family: cursive;
    color: rgb(85, 84, 84);
}

.past_donations p, .past_donations span{
    margin: 1rem;
}


.past_do :hover{
    box-shadow: 3px 5px 11px #354dc699;
    border: 3px solid #100b7452;
    transition: transform 100ms, box-shadow 100ms;
    transform: scale(1.02);
}

.past_do .content-wrapper {
    pointer-events: none;
  }

.past_don{
    font-weight: bold;
    font-size: 2rem;
    margin-top: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card_row{
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1024px) {
    .profile_body {
      max-width: 80rem;
    }
  
    .past_don {
      margin-top: 4rem; /* Increase top margin on larger screens */
    }
  
    .past_donations {
      padding: 2rem;
    }
  
    .eve_heading {
      font-size: 24px;
    }
  
    .eve_desc {
      font-size: 18px;
    }
}