.EventDate {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d3436;
  border-radius: 12px;
  padding: 8px 16px;
}

.EventDate h4 {
  margin: 0;
  font-size: 1.5rem;
  color: #fff;
}

.EventDate span {
  font-weight: bold;
  color: #6c5ce7;
}
