.events-filter {
  color: black;
  padding: 0 1rem;
}

.events-filter__control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.events-filter label {
  font-weight: bold;
  /* margin-bottom: 0.5rem; */
  margin-left: 32rem;
  color: orange;
}

.events-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
  /* margin-left: 1rem; */
  margin-right: 32rem;
}
