.events-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.filter-label {
  font-size: 16px;
  border-radius: none;
}

.filter-select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  outline: 0;
  font-family: sans-serif;
}
